<div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
        <img class="boxart w-full rounded-lg sm:rounded-none sm:rounded-l-lg" src="/assets/img/{{ include.img }}" alt="Michael Avatar">
    </a>
    <div class="p-5">
        <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
            <a href="#">{{ include.name }}</a>
        </h3>
        <span class="text-gray-500 dark:text-gray-400">{{ include.description }}</span>
        <p class="mt-3 mb-4 font-light text-gray-500">{{ include.info }}</p>
    </div>
</div> 